body {
    margin: 0;
    font-family: "Urbanist", sans-serif;

    background: linear-gradient(135deg,
            #eceef1 0%,
            #7084ab 20%,
            #4e6386 40%,
            #2c3e5a 60%,
            #1c2e4a 80%,
            #0b162a 100%);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    width: 420px;
    padding: 2rem;
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card h1  {
    text-align: center;
    margin: 0;
}

.subtitle {
    text-align: center;
    margin: 0.5rem;
}

.password-box {
    background: #f3f3f3;
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.password-box input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 1.4rem;
    width: 100%;
}

.password-box input:focus {
    outline: none;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.actions button {
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    background: #2e2e2e;
    color: white;
    cursor: pointer;
}

.strength-message {
    background: #8d9ec1;
    letter-spacing: 1px;
    padding: 0.6rem;
    border-radius: 12px;
    margin-top: 0.8rem;
    font-size: 0.9rem;
}

.length-control {
    margin-top: 0.8rem;
}

input[type="range"] {
    width: 100%;
    margin-top: 0.5rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.option input {
    appearance: none;
    width: 40px;
    height: 22px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.option input::before {
    content: "";
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

.option input:checked {
    background: #2e2e2e;
}

.option input:checked::before {
    transform: translateX(18px);
}